---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article>
      <h1 class="title">{{ post.title }}</h1>
      <p class="subtitle">
        {% if post.tags %}
        <span>Tags:
          {% for tag in post.tags.length > 0 %}
          <a class="tag" href="/tags#{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </span>
        {% else %}
        <span></span>
        {% endif %}
        <span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
      </p>
      <div class="post">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
