body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.5;
    border-top: 7px solid #FFDC00;
    margin: 0;
}
header {
    height: 50px;
    margin-bottom: 12.5px;
    display: block;
    width: 100%;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}
header:after {
    content: "";
    display: table;
    clear: both;
}
header nav {
    float: right;
    text-align: center;
}
section {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    margin: 10px auto;
    padding-top: 10px;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header nav {
    float: right;
    text-align: center;
}
header nav ul li {
    display: inline;
    text-decoration: none;
    line-height: 50px;
    font-size: .9em;
}
header nav ul li a {
    color: #40526b;
}
a {
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
    color: #B57801;
    text-decoration: none;
}
header nav ul li :after {
    content: " \00b7";
    font-weight: bold;
}
header nav li.no-bullet :after {
    content:none
}
footer {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    font-size: .9em;
    margin-top: 5px;
}
footer:after {
    content: "";
    display: table;
    clear: both;
}
